<% if @spree_store_request.errors.present? %>
  <% email_error = 'Email address ' + @spree_store_request.errors.messages[:email].first %>
  <% @spree_store_request.errors.clear %>
<% end %>
<div class="form-row">
  <div class="col-md-12 col-lg-12 col-sm-12 mb-3 p-0">
    <label for="validationCustom01">Contact Name *</label>
    <%= form.text_field :contact_name , class: "form-control",id: "validationCustom01", placeholder: "Enter Your Contact Name*", required: true%>
  </div>
  <div class="col-md-12 col-lg-12 col-sm-12 mb-3 p-0">
    <label for="validationCustom02">Contact Number *</label>
    <%= form.number_field :contact_number, class: "form-control",id: "validationCustom02", placeholder: "Provide a Contact Number*", required: true %>    
  </div>
  
  <div class="col-md-12 col-lg-12 col-sm-12 mb-3 p-0">
    <label for="validationCustom02">Email*</label>
    <%= form.email_field :contact_email_address , class: "form-control email_val", id: "validationCustom02",placeholder: "Enter Your Email Address", required: true%>
    <% if email_error.present? %>
      <small class="help-block custom_errors" data-bv-validator="identical" data-bv-result="INVALID" style="">
        <span class="red-color"><%= email_error %></span>
      </small>
    <% end %>
  </div>
  
  <div class="col-md-12 col-lg-12 col-sm-12 mb-3 p-0">
    <label for="validationCustom02">Store Name / Brand *</label>
    <%= form.text_field :store_name, class: "form-control", id: "validationCustom02", placeholder: "Tell Us The Name of Your Store or Brand*" , required: true%>    
  </div>
  
  <div class="col-md-12 col-lg-12 col-sm-12 mb-3 p-0">
    <label for="">Website</label>
    <%= form.text_field :store_web_url , class: "form-control", id: "",placeholder: "Enter Your Website Address if You Have One "%>      
  </div>
  
  <div class="col-md-12 col-lg-12 col-sm-12 mb-3 p-0">
    <label for="validationCustom02">Social Media</label>
     <%= form.text_field :store_social_media , class: "form-control",id: "validationCustom02", placeholder: "Enter A Social Media Account if You Have One"%> 
     <%= hidden_field_tag "lang", "en" %>      
  </div>

  
</div>


  <!-- <div class="col-md-6 well"> -->
  
    

  <!-- <div class="form-group">
    <%#= form.label :store_desr %> *
    <%#= form.text_field :store_desr, class: "form-control", placeholder: "Enter Store Description" , required: true%>
  </div>
 -->

     <!-- <div class="form-group">
      <%#= form.label :store_name %> *
      <%#= form.text_field :store_name, class: "form-control", placeholder: "Enter Your Store" , required: true%>
    </div> -->
   <!--  <div class="form-group">
      <%#= form.label :store_number %> *
      <%#= form.text_field :store_number, class: "form-control" , placeholder: "Enter Your Store Number", required: true%>
    </div>

    <div class="form-group">
      <%#= form.label :store_email_address %> *
      <%#= form.email_field :store_email_address , class: "form-control" , placeholder: "Enter Store Email Address", required: true%>
    </div>

    <div class="form-group">
      <%#= form.label :store_address %> *
      <%#= form.text_field :store_address , class: "form-control", placeholder: "Enter Store Physical Address", required: true%>
    </div>

  </div> -->

  <!-- <div class="col-md-6 well"> -->

    <!-- <div class="form-group">
      <%#= form.label :store_open_hours %>
      <%#= form.time_field :store_open_hours , class: "form-control", placeholder: "Enter Store Opening Hours"%>
    </div>
 -->
    

    <!-- <div class="form-group">
      <%#= form.label :store_tags %>
      <%#= form.text_field :store_tags, class: "form-control", placeholder: "Please privde tags for store" %>
    </div>

    <div class="form-group">
      <%#= form.label :store_main_img %> *
      <%#= form.file_field :store_main_img , class: "form-control", required: true%>
    </div>

    <div class="form-group">
      <%#= form.label :store_logo %> *
      <%#= form.file_field :store_logo, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%#= form.label :store_list_image %>
      <%#= form.file_field :store_list_image , class: "form-control"%>
    </div> -->
  <!-- </div> -->
<!--<script>-->
<!--    $('.btn-sub-frm').attr("disabled",true)-->
<!--  $('.email_val').focusout(function () {-->
<!--      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;-->
<!--      if (!re.test($(this).val().toLowerCase())){-->
<!--          $('#error_msg').remove();-->
<!--          $('.email_val').html('').after('<span id="error_msg" style="color: red; font-size: 8px;"> Please enter a valid email address</span>')-->
<!--          $('.email_val').css("border","red 1px solid");-->
<!--          $('.btn-sub-frm').attr("disabled",true);-->
<!--      }-->
<!--      else {-->
<!--          $('.email_val').html('');-->
<!--          $('#error_msg').remove();-->
<!--          $('.btn-sub-frm').attr("disabled",false);-->
<!--          $('.email_val').css("border","");-->
<!--      }-->
<!--  });-->
<!--</script>-->

  

