<style>
  .help-block{
    color: red;
  }
</style>

<% store_request_contents     = Spree::PageContent.from_gen_slug('store-request') %>
<% store_request_label_contents_image = store_request_contents.from_gen_slug('store-request-label') %>
<% store_request_label_contents = Spree::PageContent.from_gen_slug('register-store-label') %>

<% store_request_label_contents1 = store_request_label_contents.from_gen_slug('register-store-label-1').last %>
<% store_request_label_contents2 = store_request_label_contents.from_gen_slug('register-store-label-2').last %>
<% store_request_label_contents3 = store_request_label_contents.from_gen_slug('register-store-label-3').last %>
<% store_request_label_contents4 = store_request_label_contents.from_gen_slug('register-store-label-4').last %>
<% store_request_label_contents5 = store_request_label_contents.from_gen_slug('register-store-label-5').last %>
<% store_request_label_contents6 = store_request_label_contents.from_gen_slug('register-store-label-6').last %>

<% store_request_main_contents = store_request_contents.from_gen_slug('store-request-main') %>

<% store_top_content = store_request_main_contents .spec_slug('store-request-main-heading-desc').last%>
<% store_request_benifits_content  = store_request_label_contents_image.spec_slug('store-request-label-benifits').last%>
<% store_request_advertsment_label = store_request_label_contents_image.spec_slug('store-request-label-advertisement').last%>

<div class="clearfix"></div>

<div class="container">

  <div class="register_my_dv">
  
  <div class="main_register_title stor-tille-main">
  <h2><%= store_top_content.try(:title)%></h2>
  <p> <%= store_top_content.try(:description)%></p>
  </div>
  
 <div class="reg-my-account">
 
    <div class="col-lg-6 col-md-6 col-sm-6 my-wrd"  id="new-customer" data-hook="login">
      


      <%= form_with(model: @spree_store_request, local: true,html: {id: "store_form",class: "needs-validation news_frm my-frm-rgi str-form modo", novalidate: true }) do |form| %>

        <%= render partial: 'spree/en/store_requests/form',  locals: {form: form}%>
     
         <div class="form-group col-md-12 col-sm-12 col-lg-12 fin_st p-0" style="height: 50px">
          <div class="item-set-con" id="user-subscribe-container">
            <%= form.check_box :subscribed, class: "form-check-input" %>
            <p class="">
             Join our mailing list<br>
             To find out more about our Privacy Policy <%= link_to "here" , privacy_policies_path,target: "_blank", class: "pol-out"%>
            </p>
            
          </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-lg-12 p-0 cdn-ln g-recaptcha-outer">
          <%= recaptcha_tags callback:'removeError',style: "transform:scale(0.82);-webkit-transform:scale(0.82);transform-origin:0 0;-webkit-transform-origin:0 0; margin-bottom: 7px;" %>
        </div>
        <div class="clearfix"></div>
        <div class="elit text-center yrt-input">
          <%= form.submit "GET MY STORE ON BLACK LINE", class: "btn btn-primary btn-sm btn-sub-frm" %>
        </div>

        <div class="clearfix"></div>

        <div class="form-group col-md-12 col-sm-12 col-lg-12 fin_st p-0 cdn-ln">
          <div class="item-set-con">
            <p class="clk_mt">
             By clicking Create Your Account you agree<br>
              to our <%= link_to "Terms and Conditions", terms_and_conditions_path, target: "_blank", class: "pol-out" %>
            </p>
            
          </div>
        </div>
        <% end %>


    <div class="clearfix"></div>
 
  </div>
 
 


 
  <div class="col-lg-6 col-md-6 col-sm-6 just-sm">
    <div class="img-reg">

      <%if store_request_benifits_content.image.attached? %>
       <%= image_tag(main_app.url_for(store_request_benifits_content.image.variant(resize: '600x400'))) %>
      <% else %>
       <%= image_tag "my-acc-en.jpg", alt: "" %>
      <% end%>

    </div>
    <div class="culpa">
      <ul class="non-dv">
        <li><%= store_request_label_contents1.try(:title)%></li>
        <li><%= store_request_label_contents2.try(:title)%></li>
        <li><%= store_request_label_contents3.try(:title)%></li>
        <li><%= store_request_label_contents4.try(:title)%></li>
        <li><%= store_request_label_contents5.try(:title)%></li>
        <li><%= store_request_label_contents6.try(:title)%></li>
      </ul>
    </div>
  </div>

 </div>
  
  </div>
  
</div>

<!-- <div class="clearfix"></div>
<%#if store_request_advertsment_label.image.attached? %>
  <div class="adver-sec">
    <div class="container">
      <p><%#= store_request_advertsment_label.try(:title)%></p>
      <div class="adver-sec-mn"> 
        <%#= image_tag "advertize.jpg", alt: "" %>
        <%#= image_tag(main_app.url_for(store_request_advertsment_label.image), height: "60px", width: "100%") %>
      </div>
    </div>
  </div>
<%# end%>
-->
<script>
    <% if @spree_store_request.errors.any? %>
    <%  @spree_store_request.errors.full_messages.each do |message| %>
    toastr.error('<%= message %>')
    <% end %>
    <% end %>
</script>

<script>

    $('#store_form').submit(function () {
        $('#captcha_error').remove();
        if (grecaptcha.getResponse() == ""){
            submitUserFormCaptcha();
            return false;
        }
    })

</script>


<script type="text/javascript">
    $('#store_form').bootstrapValidator({
        // feedbackIcons: {
        //     valid: 'glyphicon glyphicon-ok',
        //     invalid: 'glyphicon glyphicon-remove',
        //     validating: 'glyphicon glyphicon-refresh'
        // },
        fields: {
            'store_request[contact_name]': {
                validators: {
                    notEmpty: {
                        message: 'Please enter your contact name'
                    }
                }
            },
            'store_request[contact_number]': {
                validators: {
                    notEmpty: {
                        message: 'Please enter your contact number'
                    }
                }
            },
            'store_request[store_name]': {
                validators: {
                    notEmpty: {
                        message: "Please enter your brand's name"
                    }
                }
            },
            'store_request[contact_email_address]': {
                validators: {
                    notEmpty: {
                        message: 'Please enter your email address'
                    }
                }
            },
            'store_request[store_web_url]': {
                validators: {
                    regexp: {
                        regexp: /^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$/,
                        message: 'Please enter a valid website url'
                    }
                }
            }
        }
    }).on('status.field.bv', function (e, data) {
            // $(e.target)  --> The field element
            // data.bv      --> The BootstrapValidator instance
            // data.field   --> The field name
            // data.element --> The field element

            data.bv.disableSubmitButtons(false);
        });
</script>

