<div class="clearfix"></div>

<div class="register_in_dv" dir="rtl">
  <div class="main_register_title">
  <h2>?ﻳﺪﻳﺪﻴﻠﻘﺘﻟﺍ ﻦﻔﺴﻟﺍﻴﻠﻘﺘﻟﺍ ﻦﻔﺴﻟﺍ</h2>
  <p> ,ﺔﻴﺴﻧﺮﻔﻟﺍ ﻝّﻫﺃ ﻡﺎﻗﻭ ﻦﻋ ﻥﻻ ,ﺔﻳﺪﻴﻠﻘﺘﻟﺍ ﻦﻔﺴﻟﺍ ﻢﺗﻭ ﻞﻛ .ﻢﺛ ﻥﺪﻣ ﺭﻮﺤﻤﻟﺎﺑ ﺖﻣﺍ ﻝّﻫﺃ ﻡﺎﻗﻭ ﻦﻋ ﻥ  ﻢﺛ ﻥﺪﻣ ﺭﻮﺤﻤﻟﺎﺑ ﺖﻣﺍ ﻝّﻫﺃ ﻡﺎﻗﻭ ﻦﻋ ﻥﻻ ,ﺔﻳﺪﻴﻠﻘﺘﻟﺍ ﻦﻔﺴﻟﺍ ﻢﺗﻭ ﻞﻛ .ﻢﺛ ﻥﺪﻣ ﺭﻮﺤﻤﻟﺎﺑ ﺖﻣﺍﺭﻮﺤﻤﻟﺎﺑ   ﺖﻣﺍ ﻝّﻫﺃ ﻡﺎﻗﻭ ﻦﻋ ﻥﻻ ,ﺔﻳﺪﻴﻠﻘﺘﻟﺍﺖﻣﺍ</p>
  </div>
  
  
  <div class="main-owner">
  
  <div class="register-own set-fix">
  <a class="me-own" href="<%= new_store_request_path %>">
  <h2> ,ﺔﻴﺴﻧﺮﻔﻟﺍ ﻝّﻫﺃ ﻡﺎﻗﻭ ﻦﻋ ﻥﻻ ,ﺔﻳﺪﻴﻠﻘﺘﻟﺍ ﻡﺎﻗﻭ 
ﻥﻻ ,ﺔﺪﻴﻠﻘﺘﻟﺍ ﻦﻔﺴﻟﺍ ﻢﺗﻭ ﻞﻛ .ﻢﺛ ﻥﺪﻣ ﺭﻮﺤﻤﻟﺎﺑ</h2>
  <div class="brk-regis-line">
    <%= image_tag "reg-inner-line.png", alt: "" %>
    </div>
    <span class="me-own">ﺖﻣﺍﺭﻮﺤﻤﻟﺎﺑ   ﺖﻣﺍ ﻝّﻫﺃ ﻡﺎﻗﻭ ﻦﻋ ﻥﻻ ,ﺔﻳﺪﻴﻠﻘﺘﻟﺍﺖﻣﺍ</span></a>
  </div>
  
  <div class="register-mem set-fix">
   <a class="me-own" href="<%= spree.signup_path%>">
  <h2> ,ﺔﻴﺴﻧﺮﻔﻟﺍ ﻝّﻫﺃ ﻡﺎﻗﻭ ﻦﻋ ﻥﻻ ,ﺔﻳﺪﻴﻠﻘﺘﻟﺍ ﻡﺎﻗﻭ </h2>
  <div class="brk-regis-line">
    </div>
    <span class="me-own">ﺖﻣﺍﺭﻮﺤﻤﻟﺎﺑ   ﺖﻣﺍ ﻝّﻫﺃ ﻡﺎﻗﻭ ﻦﻋ ﻥﻻ ,ﺔﻳﺪﻴﻠﻘﺘﻟﺍﺖﻣﺍ</span></a>
  </div>
  
  </div>
  
  </div>


<div class="clearfix"></div>
<%if @register_select_adv_contents.image.attached? %>
  <div class="adver-sec">
    <div class="container">
      <div class="adver-sec-mn"> 
        <p class="pull-right"><%= @register_select_adv_contents.try(:title)%></p>
        <%= image_tag(main_app.url_for(@register_select_adv_contents.image), height: "127px", width: "1100px") %>
      </div>
    </div>
  </div>
<% end%>


