<% @body_id = 'signup' %>

<% register_contents     = Spree::PageContent.from_gen_slug('register') %>

<% register_label_contents_image = register_contents.from_gen_slug('register-label') %>
<% register_label_contents = register_contents.from_gen_slug('register-member-label') %>
<% register_btn_label_contents = register_contents.from_gen_slug('register-btn-label') %>
<% register_main_contents = register_contents.from_gen_slug('register-main') %>
<% register_top_content = register_main_contents.spec_slug('register-main-heading-desc').last%>
<% register_mailing_content = register_label_contents_image.spec_slug('register-label-mailig-list').last%>
<% register_policy_content = register_label_contents_image.spec_slug('register-label-privacy').last%>
<% register_terms_content = register_label_contents_image.spec_slug('register-label-terms').last%>
<% register_account_content = register_label_contents_image.spec_slug('register-label-login').last%>
<% register_benifits_content = register_label_contents_image.spec_slug('register-label-benifits').last%>
<% register_privacy_btn_content = register_btn_label_contents.spec_slug('register-btn-label-privacy').last%>
<% register_account_btn_content = register_btn_label_contents.spec_slug('register-btn-label-account').last%>
<% register_terms_btn_content = register_btn_label_contents.spec_slug('register-btn-label-terms').last%>
<% register_login_btn_content = register_btn_label_contents.spec_slug('register-btn-label-login').last%>
<% register_facebook_btn_content = register_btn_label_contents.spec_slug('register-btn-label-facebook').last%>
<% register_google_btn_content = register_btn_label_contents.spec_slug('register-btn-label-google').last%>
<% register_advertsment_label = register_label_contents_image.spec_slug('register-label-advertisement').last%>



<% user_request_benifits_content1  = register_label_contents.spec_slug('register-member-label-1').last%>
<% user_request_benifits_content2  = register_label_contents.spec_slug('register-member-label-2').last%>
<% user_request_benifits_content3  = register_label_contents.spec_slug('register-member-label-3').last%>
<% user_request_benifits_content4  = register_label_contents.spec_slug('register-member-label-4').last%>
<% user_request_benifits_content5  = register_label_contents.spec_slug('register-member-label-5').last%>
<% user_request_benifits_content6  = register_label_contents.spec_slug('register-member-label-6').last%>




<div class="clearfix"></div>


<div class="container">
  <div class="register_my_dv">

  <div class="main_register_title  stor-tille-main">
  <h2><%= register_top_content.try(:title) %></h2>
  <p><%= register_top_content.try(:description) %></p>
  </div>

 <div class="reg-my-account">

  <div class="col-lg-6 col-md-6 col-sm-6 my-wrd">



   <%= form_for resource, :as => :spree_user, :url => spree.registration_path, html: {:novalidate => true, class: "needs-validation news_frm my-frm-rgi"} do |f| %>


      <%= render :partial => 'spree/en/shared/user_form', :locals => { :f => f } %>


      <div class="form-group col-md-12 col-sm-12 col-lg-12 fin_st p-0"style="height: 50px" >
          <div class="form-check item-set-con" id="user-subscribe-container">

            <%= f.check_box :subscribed, class: "form-check-input" %>
            <p class="">
             <%= register_mailing_content.try(:title)%><br>
             <%= register_policy_content.try(:title)%> <%= link_to register_privacy_btn_content.try(:title) , privacy_policies_path,target: "_blank", class: "pol-out"%>
            </p>

          </div>
        </div>
      <div class="col-md-12 col-sm-12 col-lg-12 cn_ry p-0">
        <%= recaptcha_tags callback:'removeError',style: "transform:scale(0.82);-webkit-transform:scale(0.82);transform-origin:0 0;-webkit-transform-origin:0 0; margin-bottom: 15px;" %>
      </div>
        <div class="clearfix"></div>
        <div class="elit text-center yrt-input">
          <%= f.submit register_account_btn_content.try(:title), :class => 'btn btn-primary btn-sm btn-sub-frm' %>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-lg-12 fin_st p-0">
          <div class="form-check item-set-con">
            <p class="form-check-label clk_mt">
             <%= register_terms_content.try(:title) %>  <%= link_to register_terms_btn_content.try(:title), terms_and_conditions_path, target: "_blank" , class: "pol-out"%>
            </p>
            <p class="form-check-label clk_mt"><%= register_account_content.try(:title)%> <%= link_to register_login_btn_content.try(:title), spree.login_path, class: "pol-out" %>
            </p>
          </div>
        </div>

    <% end %>



<div class="clearfix"></div>
  <div class="log_in_wth">
 <ul>
   <% Spree::AuthenticationMethod.available_for(@spree_user).each do |method| %>
      <li>
        <%= link_to( image_tag("#{method.provider}.png"),
                polymorphic_url("spree_user_#{method.provider}_omniauth_authorize", provider: method.provider),
                id:    method.provider.to_url,
                title: Spree.t(:sign_in_with, provider: method.provider)) if method.active %>

      </li>
    <% end %>
 </ul>
  </div>
 </div>



  <div class="col-lg-6 col-md-6 col-sm-6 just-sm">

    <div class="img-reg">
      <%if register_benifits_content.image.attached? %>
        <%= image_tag(main_app.url_for(register_benifits_content.image.variant(resize: '401x145'))) %>
      <% else %>
         <%= image_tag "my-acc-en.jpg", alt: "" %>
      <% end%>
    </div>

    <%#= register_benifits_content.try(:title)%>
    <%#= register_benifits_content.try(:description)%>

    <div class="culpa">
    <ul class="non-dv">
        <li><%= user_request_benifits_content1.try(:title)%></li>
        <li><%= user_request_benifits_content2.try(:title)%></li>
        <li><%= user_request_benifits_content3.try(:title)%></li>
        <li><%= user_request_benifits_content4.try(:title)%></li>
        <li><%=user_request_benifits_content5.try(:title)%></li>
        <li><%= user_request_benifits_content6.try(:title)%></li>
    </ul>
    </div>

 </div>

 </div>

  </div>

</div>
<script>

    $('#new_spree_user').submit(function () {
        $('#captcha_error').remove();
        if (grecaptcha.getResponse() == ""){
            submitUserFormCaptcha();
            return false;
        }
    })
</script>

<!--<div class="clearfix"></div>-->
<%#if register_advertsment_label.image.attached? %>
<!--  <div class="adver-sec">-->
<!--    <div class="container">-->
<!--      <div class="adver-sec-mn"> -->
<!--        <p class="pull-left"><%#= register_advertsment_label.try(:title)%></p>-->
        <%#= image_tag(main_app.url_for(register_advertsment_label.image), height: "127px", width: "1100px") %>
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<%# end%>
