<% store_request_contents     = Spree::PageContent.from_gen_slug('store-request') %>
<% store_request_label_contents = store_request_contents.from_gen_slug('store-request-label') %>
<% store_request_main_contents = store_request_contents.from_gen_slug('store-request-main') %>

<% store_top_content = store_request_main_contents .spec_slug('store-request-main-heading-desc').last%>
<% store_request_benifits_content  = store_request_label_contents.spec_slug('store-request-label-benifits').last%>
<% store_request_advertsment_label = store_request_label_contents.spec_slug('store-request-label-advertisement').last%>

<div class="text-center">
  <h1 class="text-center "><%= store_top_content.try(:title)%></h1>
</div>
<hr>

<div class="text-center">
	<p> <%= store_top_content.try(:description)%></p>
</div>

<% if @spree_store_request.errors.any? %>
  <div class="alert alert-danger"id="error_explanation">
    <h2><%= pluralize(@spree_store_request.errors.count, "error") %> prohibited this spree_store_request from being saved:</h2>

    <ul>
    <% @spree_store_request.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="col-md-6">
  <div id="new-customer" class="panel-body" data-hook="login">
      
      <%= form_with(model: @spree_store_request, local: true) do |form| %>
	      <%= render partial: 'form',  locals: {form: form}%>
	      <div id="user-subscribe-container">

	        <p>
	          <%= form.check_box :subscribed %>
	          Join our mailing  To find out more about our Privacy Policy here list <%= link_to "here" , privacy_policies_path,target: "_blank"%>
	        </p>
	      </div>
	      <div class="actions clearfix" style=" margin-bottom: 5px;">
				  <%= form.submit "Get My Store on Black Line", class: "btn btn-success", style: "width: 100%" %>
				</div>
				<p>By clicking Create Your Account you agreee to our  <%= link_to "Terms and Conditions", terms_and_conditions_path, target: "_blank" %></p>
	    <% end %>
      <hr>
      <div data-hook="login_extras"></div>
  </div>
</div>
<div class="col-md-6">
  <div >
    <%if store_request_benifits_content.image.attached? %>
  	 <%= image_tag(main_app.url_for(store_request_benifits_content.image.variant(resize: '600x400'))) %>
    <% else %>
	   <img src="http://www.rangerwoodperiyar.com/images/joomlart/demo/default.jpg" alt="Registeration Benifits Image" height="400" width="600">
    <% end%>
	  <div class="centered-bottom"><%= store_request_benifits_content.try(:title)%></div>
	</div>
	<div class="top-40">
	<p><%= store_request_benifits_content.try(:description)%></p>
</div>
</div>

<%if store_request_advertsment_label.image.attached? %>
  <div class="col-md-12" >
    <p><%= store_request_advertsment_label.try(:title)%></p>
    <%= image_tag(main_app.url_for(store_request_advertsment_label.image), height: "60px", width: "100%") %>
  </div>
<% end%>

