<div class="clearfix"></div>
<div class="container">
  <div class="register_my_dv">
    <div class="invitation-title text-center">
      <h2 class="page-heading">DESIGNERS</h2>    
       <h3 class="page-heading">YOUR INVITATION </h3>  
    </div>
  </div>  
</div>

<div class="inv-outer">
<div class="container">
  <div class="tru-dv">
  <h3 class="heading1">At Black-Line, we’re committed to providing an exclusive range of top quality, authentic garments to a truly global audience. We do this through our unique digital marketplace of talented designers.<br>
<br>
We strive to bring the best of Emirati abaya craftsmanship to the world. And to make this happen, we invite quality, innovative designers to partner with us by setting up a store in our marketplace…</h3>
  </div>  
</div>
</div>

<div class="digital-outer">
<div class="container">
  <div class="bann-dv">
  
<div class="fits-tv">
<%= image_tag "Black-line-logo.svg",class: "tl-log", alt: "" %>
<h3 class="page-heading">THE BENEFITS OF MAKING BLACK-LINE<br>
YOUR DIGITAL HOME</h3>
<div class="brequte-grh">
  <%= image_tag "braqe-img.png", alt: "" %>
  </div>
</div>
  
<div class="vat-vr">
<ul class="text-center gat-wy">
<li class="item-ese"><%= image_tag "megaphone-ico-01.svg",class: "", alt: "" %> <h2 class="page-heading has-title">More sales, less hassle</h2><p class="body1">Our online shopping platform allows you to have your own sales space without any of the technical or transactional headaches. Card payments are a breeze, and your buyers will have full peace of mind thanks to our secure payment gateway.</p></li>
<li class="item-ese"> <%= image_tag "world-ico-01.svg",class: "", alt: "" %> <h2 class="page-heading has-title">Global reach</h2><p class="body1">With a shop window to the world, you’ll be able to showcase your designs to more customers in more places – fulfilling orders 24/7 with hassle-free international shipping options.</p></li>
</ul>

<ul class="text-center gat-wy">
<li class="item-ese"><%= image_tag "share-ico-01.svg",class: "", alt: "" %> <h2 class="page-heading has-title">Increased brand awareness</h2><p class="body1">Put a spotlight on your brand and grow at your own pace through our digital marketplace –our social media presence and extensive PR support will maximise your marketing exposure, through reviews, interviews and follower engagement.</p></li>
<li class="item-ese"><%= image_tag "manage-ico-01.svg",class: "", alt: "" %> <h2 class="page-heading has-title">Easy management</h2><p class="body1">By partnering with Black-Line, you have everything you need in one place – making it easier to manage your customer transactions and interactions and meaning more time to focus on what you love – designing quality products. </p></li>
</ul>

<ul class="text-center gat-wy">
<li class="item-ese"><%= image_tag "box-ico-01.svg",class: "", alt: "" %><h2 class="page-heading has-title">Maintain your uniqueness</h2><p class="body1">Just as any bustling marketplace is a mix of different personalities, so too is ours – allowing you the freedom to express yourself through your own store page and providing you with beautiful packaging and professional photography to make your designs truly shine. </p></li>
</ul>

</div>
  
  </div>  
</div>
</div>

<div class="ster-outer">
<div class="container">
    <div class="dvd"></div>
</div>
</div>

<div class="rg-bin">
<div class="container">
   <h2 class="heading1 text-center">HOW TO REGISTER FOR A BLACK-LINE STORE</h2>
   <p class="body1">It all starts with the completion of our registration page – linked below.
From here, we take care of everything – working with you to help you set up your digital store (including photoshoot, catalogue creation, welcome pack and training).<br>
Once your store is live, customers from around the world will be able to purchase directly from you and you’ll manage orders easily with our intuitive tools.</p>
<h4 class="heading3">It’s that simple.</h4>
</div>
</div>

<div class="container">

<div class="process-desk">
<ul class="around-set">
<li><%= image_tag "1-ico-01.svg",class: "", alt: "" %>
	<br><span class="circle-dot"></span>
</li>
<li><%= image_tag "2-ico-01.svg",class: "", alt: "" %>
	<br><span class="circle-dot"></span>
</li>
<li><%= image_tag "3-ico-01.svg",class: "", alt: "" %>
	<br><span class="circle-dot"></span>
</li>
<li><%= image_tag "4-ico-01.svg",class: "", alt: "" %>
	<br><span class="circle-dot"></span>
</li>
</ul>
<ul class="lit-cv">
<li class="tni-1"><p>Complete<br> Registration<br> Form</p></li>
<li class="tni-2"><p>Formalise <br>Partnership</p></li>
<li class="tni-3"><p>Setup your Black-Line store<br> (Including Photoshoot, Catalogue, Welcome Pack and Training)</p></li>
<li class="tni-4"><p>Your store is live and Shoppers are buying your amazing designs!</p></li>
</ul>
</div>

<div class="process-mobile">
<ul class="around-set-mob">
<li><%= image_tag "1-ico-01.svg",class: "", alt: "" %>
	<p class="rim-1">Complete Registration Form</p>
</li>
<li><%= image_tag "2-ico-01.svg",class: "", alt: "" %>
	<p class="rim-2">Formalise Partnership</p>
</li>
<li><%= image_tag "3-ico-01.svg",class: "", alt: "" %>
	<p class="rim-3">Setup your Black-Line store<br> (Including Photoshoot, Catalogue, Welcome Pack and Training)</p>
</li>
<li><%= image_tag "4-ico-01.svg",class: "", alt: "" %>
	<p class="rim-4">Your store is live and Shoppers are buying your amazing designs!</p>
</li>
</ul>
</div>

<div class="get-invitation-start">
<h4 class="page-heading">GET STARTED TODAY</h4>
<a href="register-my-store-en.html"><button class="button-body btn-inv-s">REGISTER HERE</button></a>
</div>

</div>

<!-------- side menu modal buttons -------------->
<!-- <div class="mobile_meni_btm">
   <ul>
    <li><a href="index-en.html"><img src="images/home-ico.svg" alt=""><br>Home</a></li>
     <li><a href="account-wishlist-en.html"><img src="images/wish-ico.svg" alt=""><br>Wishlist</a><span class="btn-indicate ind-1">00</span></li>
      <li><a href="manage-cart-en.html"><img src="images/cart-ico-device.svg" alt=""><br>Cart</a><span class="btn-indicate">00</span></li>
    <li><a data-toggle="modal" data-target="#LeftSideModal" class="btm-ins"> <img src="images/acc-ico.svg" alt=""><br>Account</a></li>
        </ul>
</div> -->  
    <!--------------- side menu modal buttons --------------------->


<!-- <div class="clearfix"></div> -->
<!--- advertise ment section start--->
<!-- <div class="adver-sec">
  <div class="container">
    <div class="adver-sec-mn"> <img class="img-responsive" src="images/advertize.jpg" alt=""> </div>
  </div>
</div> -->
<!--- advertise ment section end--->