<% @body_id = 'signup' %>

<% register_contents     = Spree::PageContent.from_gen_slug('register') %>

<% register_label_contents = register_contents.from_gen_slug('register-label') %>
<% register_btn_label_contents = register_contents.from_gen_slug('register-btn-label') %>
<% register_main_contents = register_contents.from_gen_slug('register-main') %>
<% register_top_content = register_main_contents.spec_slug('register-main-heading-desc').last%>
<% register_mailing_content = register_label_contents.spec_slug('register-label-mailig-list').last%>
<% register_policy_content = register_label_contents.spec_slug('register-label-privacy').last%>
<% register_terms_content = register_label_contents.spec_slug('register-label-terms').last%>
<% register_account_content = register_label_contents.spec_slug('register-label-login').last%>
<% register_benifits_content = register_label_contents.spec_slug('register-label-benifits').last%>
<% register_privacy_btn_content = register_btn_label_contents.spec_slug('register-btn-label-privacy').last%>
<% register_account_btn_content = register_btn_label_contents.spec_slug('register-btn-label-account').last%>
<% register_terms_btn_content = register_btn_label_contents.spec_slug('register-btn-label-terms').last%>
<% register_login_btn_content = register_btn_label_contents.spec_slug('register-btn-label-login').last%>
<% register_facebook_btn_content = register_btn_label_contents.spec_slug('register-btn-label-facebook').last%>
<% register_google_btn_content = register_btn_label_contents.spec_slug('register-btn-label-google').last%>

<% register_advertsment_label = register_label_contents.spec_slug('register-label-advertisement').last%>

<%= link_to "Want to manage a Store?", new_store_request_path, class: "btn btn-success" %>
<div class="text-center">
  <h1 class="text-center "><%= register_top_content.try(:title) %></h1>
</div>
<hr>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<div class="col-md-6">
  <div id="new-customer" class="panel-body" data-hook="login">
      <%= form_for resource, :as => :spree_user, :url => spree.registration_path do |f| %>
        <div data-hook="signup_inside_form">
          <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
          <div id="user-subscribe-container">
            <p>
              <%= f.check_box :subscribed %>
              <%= register_mailing_content.try(:title) + " " + register_policy_content.try(:title)%> <%= link_to register_privacy_btn_content.try(:title) , privacy_policies_path,target: "_blank"%>
            </p>
          </div>
          <div><%= f.submit register_account_btn_content.try(:title), :class => 'btn btn-lg btn-success btn-block' %></div>
          <br>
          <p><%= register_terms_content.try(:title) %>  <%= link_to register_terms_btn_content.try(:title), terms_and_conditions_path, target: "_blank" %></p>
          <p><%= register_account_content.try(:title)%> <%= link_to register_login_btn_content.try(:title), spree.login_path %></p>
          <hr>
        </div>
      <% end %>
      <!-- <div class="col-md-6 text-center">
				<button type="button" class="btn btn-info btn-lg"><%#= register_facebook_btn_content.try(:title)%></button>
      </div> -->
     <!--  <div class="col-md-6 text-center">
				<button type="button" class="btn btn-danger btn-lg"><%#= register_google_btn_content.try(:title) %></button>
        <%#= Spree.t(:or) %>
          
      </div> -->
      <div data-hook="login_extras"></div>
  </div>
</div>
<div class="col-md-6">
  <div >
    <%if register_benifits_content.image.attached? %>
  	 <%= image_tag(main_app.url_for(register_benifits_content.image.variant(resize: '600x400'))) %>
    <% else %>
	   <img src="http://www.rangerwoodperiyar.com/images/joomlart/demo/default.jpg" alt="Registeration Benifits Image" height="400" width="600">
    <% end%>
	  <div class="centered-bottom"><%= register_benifits_content.try(:title)%></div>
	</div>
	<div class="top-40">
	<p><%= register_benifits_content.try(:description)%></p>
</div>
</div>

<%if register_advertsment_label.image.attached? %>
  <div class="col-md-12" >
    <p><%= register_advertsment_label.try(:title)%></p>
    <%= image_tag(main_app.url_for(register_advertsment_label.image), height: "60px", width: "100%") %>
  </div>
<% end%>

